/* General Styles for the Campaign Card */
.campaign-card-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.campaign-cards {
  display: flex;
  transition: transform 0.7s ease-in-out;
  gap: 20px;
}

.campaign-card {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.campaign-card:hover {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}

.campaign-image {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.campaign-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-tag {
  background-color: rgb(66, 59, 125);
  color: white;
  padding: 8px 16px;
  border-radius: 9999px;
}

.donate-btn {
  padding: 5px 10px;
  background: #ec4899;
  color: white;
  border-radius: 5px;
}

/* Media Queries for Mobile and Tablet */
@media (max-width: 767px) {
  /* Adjusting layout for smaller screens */
  .campaign-card {
    /* Stack the content vertically */
    padding: 9px; /* Reduced padding for mobile */
  }

  /* Adjust the image size for mobile */
  .campaign-image {
    width: 40%; /* Make image take full width */
    height: auto;
    margin-bottom: 285px; /* Add margin to separate image from content */
  }

  /* Make content section take full width */
  .campaign-content {
    width: 100%;
    padding: 10px;
    margin-bottom: 250px;
  }

  /* Hide the featured tag on small screens */
  .featured-tag {
    display: none;
  }

  /* Adjust button style for mobile */
  .donate-btn {
    width: 100%; /* Make the donate button full width */
    padding: 12px 0; /* Add more padding for mobile-friendly button */
    text-align: center; /* Center the button text */
    display: none;
  }
}
