.firstsection {
  background-color: #fafafa;
}

@media (max-width: 600px) {
  .first-section-text {
    padding-inline: 8%;
  }
}

.images-container {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
  overflow: hidden;
  padding-bottom: 100px;
}

.images-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-overlap-container {
  position: relative;
  width: 100%;
  margin-bottom: 250px;
}

.tabs-img,
.children-img {
  width: 100%;
}

.children-img {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.header {
  font-size: 12px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee {
  display: inline-flex;
  animation: scroll 100s linear infinite;
}

@keyframes expand-contract {
  0% {
    width: 900px;
  }
  50% {
    width: 870px;
  }
  100% {
    width: 900px;
  }
}

.animated-div {
  width: 900px;
  opacity: 1;
  border-width: 4px;
  border-style: solid;
  animation: expand-contract 2s infinite ease-in-out;
}

.logo {
  width: 150px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .logo {
    width: 300px;
    margin-right: 0;
    height: 100px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-button img {
  width: 24px;
  height: 24px;
}

.scroll-left {
  left: 80px;
}

.scroll-right {
  right: 30px;
}

.info-transition {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.info-visible {
  opacity: 1;
}

.heading {
  font-size: 3rem;
}

.subtext {
  font-size: 1.25rem;
  text-align: center;
}

@media (max-width: 768px) {
  .campaign-card {
    flex-direction: column;
  }

  .heading {
    font-size: 2rem;
    margin: 0 1rem;
  }

  .subtext {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .image-overlap-container img {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .subtext {
    font-size: 0.875rem;
  }

  .images-container img {
    padding-bottom: 20px;
  }
  .sectionimg {
    width: 60%;
  }
}
